@layer base {
    @font-face {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        src: url(../../public/fonts/Montserrat-Regular.ttf) format('ttf');
    }

    h1 {
        font-size: var(--fs-h1);
        line-height: var(--lh-100);
    }

    h2 {
        font-size: var(--fs-h2);
        line-height: var(--lh-100);
    }

    h3 {
        font-size: var(--fs-h3);
        line-height: var(--lh-100);
    }

    h4 {
        font-size: var(--fs-h4);
        line-height: var(--lh-200);
    }

    h5 {
        font-size: var(--fs-h5);
        line-height: var(--lh-200);
    }

    h6 {
        font-size: var(--fs-h6);
        line-height: var(--lh-200);
    }
}