@layer base {
    :root {
        --primary: hsl(143deg, 90%, 28%);
        --primary-light: hsl(143deg, 50%, 76%);
        --black: hsl(137deg, 13%, 11%);
        --gray: hsl(0deg, 0%, 96%);
        --white: hsl(0deg, 0%, 100%);

        --fs-h1: 2.5rem;
        --fs-h2: 2rem;
        --fs-h3: 1.6rem;
        --fs-h4: 1.5rem;
        --fs-h5: 1.25rem;
        --fs-h6: 1.25rem;

        --fs-500: 1.25rem;
        --fs-400: 1.125rem;
        --fs-300: 1rem;
        --fs-200: 0.875rem;
        --fs-100: 0.75rem;
        --lh-100: 1.2;
        --lh-200: 1.4;
        --lh-300: 1.5;

        --fs-button: var(--fs-500);
        --lh-button: var(--lh-300);
    }

    @screen lg {
        :root {
            --fs-h1: 3.5rem;
            --fs-h2: 3rem;
            --fs-h3: 2.5rem;
            --fs-h4: 2rem;
            --fs-h5: 1.5rem;
            --fs-h6: 1.25rem;

            --lh-200: 1.3;
        }
    }
}