.demo--container {
    padding: clamp(1rem, 1vw + 1rem, 3rem);
}

.demoForm__container {
    padding: 0 clamp(1rem, .5vw + .5rem, 1.5rem);
    padding-top: clamp(2rem, .5vw + 1rem, 2.5rem);
    padding-bottom: clamp(1rem, .5vw + 1rem, 2.5rem);
}