@import "tailwind.css";
/* Custom Global CSS Styles */
@import "globalCSS/_variables.css";
@import "globalCSS/_fonts.css";

/* Layout Styles */
@import "main/layout/Header.css";
@import "main/layout/Footer.css";

/* Page Styles */
@import "main/pages/Home.css";

html {
  font-size: 1rem;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  background: var(--white);
}

h1 {
  font-weight: 700;
  font-size: var(--fs-h1);
  line-height: var(--lh-100);
}

h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-100);
}

h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-100);
}

h4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-200);
}

h5 {
  font-size: var(--fs-h5);
  line-height: var(--lh-200);
}

h6 {
  font-size: var(--fs-h6);
  line-height: var(--lh-200);
}

section {
  padding: clamp(4rem, 5vw + 1rem, 7rem) 0;
}

.heroWrapper {
  padding: clamp(4rem, 5vw + 1rem, 7rem) 0 0 0;
}

main {
  padding: 0 0 0 clamp(0.5rem, 1vw + 1rem, 2rem);
}

.navList a {
  cursor: pointer;
}

/* Global container adjustments are made only with the variables */ 
.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 1280px;
  --breakout-max-width: 1536px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  overflow: clip;
  grid-template-columns: 
   [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0.9, 0, 0, 0);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 78px;
  height: 78px;
  border: 2px solid;
  border-color: #000 transparent #999 transparent;
  border-radius: 90%;
  animation: spin 1.4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(570deg);
  }
}
