@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --primary: hsl(143, 90%, 28%);
        --primary-light: hsl(143, 50%, 76%);
        --black: hsl(137, 13%, 11%);
        --gray: hsl(0, 0%, 96%);
        --white: hsl(0, 0%, 100%);

        --fs-h1: 3.5rem;
        --lh-h1: 1.2; 

        --fs-h2: 3rem;
        --lh-h2: 1.2; 

        --fs-h3: 2.5rem;
        --lh-h3: 1.2; 

        --fs-h4: 2rem;
        --lh-h4: 1.3; 

        --fs-h5: 1.5rem;
        --lh-h5: 1.4; 

        --fs-h6: 1.25rem;
        --lh-h6: 1.4;

        --fs-base-500: 1.25rem;
        --fs-base-400: 1.125rem;
        --fs-base-300: 1.1rem;
        --fs-base-200: 0.875rem;
        --fs-base-100: 0.75rem;
        --lh-base: 1.5;
    }
}

html{
    font-size: 16px;
}
body{
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    background: var(--white);
}