.hc-Background{
    background-image: linear-gradient(rgba(55, 219, 49, 0.9), rgba(55, 219, 49, 0.9)), url('images/noise.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay; 
}