.hc-Background {
  background-image: linear-gradient(
      rgba(55, 219, 49, 0.9),
      rgba(55, 219, 49, 0.9)
    ),
    url("images/noise.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.cc-Button {
  display: inline-flex;
  align-items: center;
  margin-inline: 0.5rem;
  justify-content: center;
  stroke: var(--black);
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border-color: var(--gray);
  border-width: 1px;
  background-color: var(--white);
}

.cc-Button:hover {
  background-color: var(--primary);
  stroke: var(--white);
  transition: background-color 0.9s ease;
}
